<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="DeviceDetector Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
